services:
  platform:
    build:
      context: .
      dockerfile: ./Dockerfile
      target: deploy
    ports:
      - "7889:7889"
    environment:
      - SATOP_DATA_ROOT=/satop/data
    volumes:
      - ./docker/data:/satop/data
      - ./satop_plugins:/satop/data/plugins


  all_plugins:
    extends: platform
    command: --install-plugin-requirements


  dev:
    build:
      context: .
      dockerfile: ./Dockerfile
      target: devel
    ports:
      - "7889:7889"
    working_dir: /satop
    volumes:
      - .:/satop
      - ./docker/data:/satop/data
      - ./satop_plugins:/satop/data/plugins

    environment:
      - SATOP_ENABLE_TEST_AUTH=true
      - SATOP_DATA_ROOT=/satop/data
      - PYTHONPATH=/satop

    entrypoint: ["./scripts/start-and-seed.sh"]
    user: root


  devcontainer:
    build:
      context: .
      dockerfile: ./Dockerfile
      target: devel
    ports:
      - "7889:7889"
    volumes:
      - .:/ws
      - ./docker/data:/satop/data
      - ./satop_plugins:/satop/data/plugins
    environment:
      - SATOP_DATA_ROOT=/satop/data
    command: ["sleep", "infinity"]


  test:
    build:
      context: .
      dockerfile: ./Dockerfile
      target: devel
    working_dir: /satop
    volumes:
      - .:/satop
      - ./docker/data:/satop/data
      - ./satop_plugins:/satop/data/plugins
    environment:
      - PYTHONPATH=/satop
      - SATOP_DATA_ROOT=/satop/docker/data
    user: root
    command: pytest test/pytest


  lint:
    build:
      context: .
      dockerfile: ./Dockerfile
      target: devel
    working_dir: /satop
    volumes:
      - .:/satop
      - ./satop_plugins:/satop/data/plugins
    environment:
      - PYTHONPATH=/satop
    user: root
    command: >
      bash -c "ruff check . && black --check . && mypy ."
